#WLK_0{position:absolute; top: 48px; left: 256px; z-index: 10000;}
#WLK_1{position:absolute; top: 48px; left: 272px; z-index: 10000;}
#WLK_2{position:absolute; top: 48px; left: 288px; z-index: 10000;}
#WLK_3{position:absolute; top: 48px; left: 304px; z-index: 10000;}
#WLK_4{position:absolute; top: 48px; left: 320px; z-index: 10000;}
#WLK_5{position:absolute; top: 48px; left: 336px; z-index: 10000;}
#WLK_6{position:absolute; top: 48px; left: 352px; z-index: 10000;}
#WLK_7{position:absolute; top: 176px; left: 416px; z-index: 10000;}
#WLK_8{position:absolute; top: 176px; left: 432px; z-index: 10000;}
#WLK_9{position:absolute; top: 176px; left: 448px; z-index: 10000;}
#WLK_10{position:absolute; top: 176px; left: 464px; z-index: 10000;}
#WLK_11{position:absolute; top: 176px; left: 480px; z-index: 10000;}
#WLK_12{position:absolute; top: 176px; left: 496px; z-index: 10000;}
#WLK_13{position:absolute; top: 192px; left: 128px; z-index: 10000;}
#WLK_14{position:absolute; top: 192px; left: 144px; z-index: 10000;}
#WLK_15{position:absolute; top: 192px; left: 160px; z-index: 10000;}
#WLK_16{position:absolute; top: 192px; left: 176px; z-index: 10000;}
#WLK_17{position:absolute; top: 192px; left: 192px; z-index: 10000;}
#WLK_18{position:absolute; top: 192px; left: 272px; z-index: 10000;}
#WLK_19{position:absolute; top: 192px; left: 288px; z-index: 10000;}
#WLK_20{position:absolute; top: 192px; left: 304px; z-index: 10000;}
#WLK_21{position:absolute; top: 192px; left: 320px; z-index: 10000;}
#WLK_22{position:absolute; top: 192px; left: 336px; z-index: 10000;}
#WLK_23{position:absolute; top: 304px; left: 64px; z-index: 10000;}
#WLK_24{position:absolute; top: 304px; left: 80px; z-index: 10000;}
#WLK_25{position:absolute; top: 304px; left: 96px; z-index: 10000;}
#WLK_26{position:absolute; top: 304px; left: 112px; z-index: 10000;}
#WLK_27{position:absolute; top: 304px; left: 128px; z-index: 10000;}
#WLK_28{position:absolute; top: 304px; left: 144px; z-index: 10000;}
#WLK_29{position:absolute; top: 304px; left: 160px; z-index: 10000;}
#WLK_30{position:absolute; top: 304px; left: 176px; z-index: 10000;}
#WLK_31{position:absolute; top: 304px; left: 192px; z-index: 10000;}
#WLK_32{position:absolute; top: 304px; left: 208px; z-index: 10000;}
#WLK_33{position:absolute; top: 304px; left: 224px; z-index: 10000;}
#WLK_34{position:absolute; top: 304px; left: 240px; z-index: 10000;}
#WLK_35{position:absolute; top: 304px; left: 256px; z-index: 10000;}
#WLK_36{position:absolute; top: 304px; left: 272px; z-index: 10000;}
#WLK_37{position:absolute; top: 304px; left: 288px; z-index: 10000;}
#WLK_38{position:absolute; top: 304px; left: 304px; z-index: 10000;}
#WLK_39{position:absolute; top: 304px; left: 320px; z-index: 10000;}
#WLK_40{position:absolute; top: 304px; left: 336px; z-index: 10000;}
#WLK_41{position:absolute; top: 304px; left: 352px; z-index: 10000;}
#WLK_42{position:absolute; top: 304px; left: 368px; z-index: 10000;}
#WLK_43{position:absolute; top: 304px; left: 384px; z-index: 10000;}
#WLK_44{position:absolute; top: 304px; left: 400px; z-index: 10000;}
#ANM_0{position:absolute; top: 32px; left: 80px; z-index: 1;}
#ANM_1{position:absolute; top: 32px; left: 96px; z-index: 1;}
#ANM_2{position:absolute; top: 32px; left: 112px; z-index: 1;}
#ANM_3{position:absolute; top: 32px; left: 128px; z-index: 1;}
#ANM_4{position:absolute; top: 32px; left: 144px; z-index: 1;}
#ANM_5{position:absolute; top: 32px; left: 160px; z-index: 1;}
#ANM_6{position:absolute; top: 32px; left: 176px; z-index: 1;}
#ANM_7{position:absolute; top: 32px; left: 192px; z-index: 1;}
#ANM_8{position:absolute; top: 32px; left: 208px; z-index: 1;}
#ANM_9{position:absolute; top: 48px; left: 80px; z-index: 1;}
#ANM_10{position:absolute; top: 48px; left: 208px; z-index: 1;}
#ANM_11{position:absolute; top: 64px; left: 80px; z-index: 1;}
#ANM_12{position:absolute; top: 64px; left: 208px; z-index: 1;}
#ANM_13{position:absolute; top: 80px; left: 80px; z-index: 1;}
#ANM_14{position:absolute; top: 80px; left: 208px; z-index: 1;}
#ANM_15{position:absolute; top: 96px; left: 80px; z-index: 1;}
#ANM_16{position:absolute; top: 96px; left: 208px; z-index: 1;}
#ANM_17{position:absolute; top: 112px; left: 80px; z-index: 1;}
#ANM_18{position:absolute; top: 112px; left: 208px; z-index: 1;}
#ANM_19{position:absolute; top: 128px; left: 80px; z-index: 1;}
#ANM_20{position:absolute; top: 128px; left: 96px; z-index: 1;}
#ANM_21{position:absolute; top: 128px; left: 112px; z-index: 1;}
#ANM_22{position:absolute; top: 128px; left: 128px; z-index: 1;}
#ANM_23{position:absolute; top: 128px; left: 144px; z-index: 1;}
#ANM_24{position:absolute; top: 128px; left: 160px; z-index: 1;}
#ANM_25{position:absolute; top: 128px; left: 176px; z-index: 1;}
#ANM_26{position:absolute; top: 128px; left: 192px; z-index: 1;}
#ANM_27{position:absolute; top: 128px; left: 208px; z-index: 1;}
